
<html>
<head>

              
            
</head>
<body>


<canvas id="bar-chart"  width="500" height="500"></canvas>


                  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
                  <script src="https://d3js.org/d3-color.v1.min.js"></script>
                  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
                  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
				  
				 
				     <script src="./js/color-generator.js"></script>
					 <script src="./js/barChart-generator.js"></script>

                  
</body>



</html>